*{
    margin: 0; padding: 0;
}
header{
    flex-direction: row;
    width: 100%;
    background: linear-gradient(#a34141, #FF7373);
    justify-content: space-around;
}
.menu{
    background:(#FF7373);
}
.menu > div > ul{
    list-style: none;
    display: flex;
}
.menu > div > ul{
    padding: 5px;
}
.menu-link{
    color:#000000;
    text-decoration: none;
    padding: 5px;
    font-size: 25px;
   font: 'Open Sans Condensed', sans-serif;
}
.menu-link:hover{
    text-decoration: underline;
}
/*Fim do menu*/

/*Começo do titulo*/
.titulo{  
    color: #000000;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 60px;
    text-shadow: 1px 1px 1px #000000cc;
    font-family: 'Great Vibes';
}
.sub-titulo{
    font-size: 30px;
    font-family: 'Great Vibes';
    
}
.box{
    max-width: 1200px;
    margin: 0 auto;
}

