.titulo-conteudo{
    text-align: center;
    font-size: 45px;
    font-family:'Dancing Script';
}
.imagem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.texto{
    justify-content: center;
    text-align: center;
}
.fora-titulo{
    display: flex;
    flex-direction: row-reverse 
}
.fora-produtos{
    display: flex;
}
.fora-noiva{
    display: flex;
}

.box-conteudo{
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    justify-content:flex-start;
}
.box-contem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}