.rodape{
    background-color: #A9A4A4;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 70px
    
    
    }
    
    ·texto-rodape{
    padding-bottom: 10px;
    }
    .imagem-rodape{
        width: 25px;
        height: 25px;
    }