.rodape{
    background: linear-gradient(#FF7373, #a34141);
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 70px;
    display: block;
    }
    
    ·texto-rodape{
    padding-bottom: 10px;
    }
    .imagem-rodape{
        width: 25px;
        height: 25px;
    }
    .contato{
       display: block;
        flex-direction: row;
        text-align: justify;
    
    }
    .frame{
    text-align: end;
    flex-direction: row-reverse;
    }