.conteudo{
    font-family: 'Roboto', sans-serif;
}
.botaoAssinar{
    background-color: #c0392b;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: block;
    border: 0;
    margin:10px;
    width: 100%;
    
    
}